// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// paleta de cores:
// $dark-gray: #1E1E1E;
// medium-gray: #4C4946;
// light-gray: #827C79;
// lighter-gray: #FDFDFD;
// black: #0D0D0D;
