<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/millenevprado" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/millene_prado/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/millene-prado-92358798/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Millene Prado
  </div>
</div>
