// home banner
.banner {
  background: $black;
  height: 28rem;
  width: 100%;
  padding: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: end;
  img {
    height: 65%;
    position: absolute;
    left: 8vw;
    top: 11.9vw;
  }
}

// Typedjs text - main banner
.banner-typed-text span {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: $lighter-gray;
}

// devise banners
.banner-sign-up {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url("undraw_video_streaming.svg") no-repeat;
  background-size: cover;
  background-color: $black;
  width: 50%;
  height: 100%;

  h3 {
    color: $white;
    font-weight: 600;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  p {
    color: $white;
  }
}
