.footer {
  background: #252525;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.8rem;
  padding: 0 3rem;
  color: #FDFDFD;
  margin-top: auto;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #FDFDFD;
  opacity: 0.15;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 0.5rem;

  &:hover {
    opacity: 1;
  }
}

.footer .fa-heart {
  color: #D23333;
}
