.footer {
  background: $dark-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.8rem;
  padding: 0 3rem;
  color: #E6E6E6;
  margin-top: auto;

  .fa-heart {
  color: $red;
  }
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #E6E6E6;
  opacity: 0.15;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 0.5rem;

  &:hover {
    opacity: 1;
  }
}
