.navbar-lewagon {
  justify-content: space-between;
  background: #0D0D0D;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.navbar-text-color {
  color: #FDFDFD;
  margin-right: 15px;
}

.navbar-nav li a {
  text-decoration: none !important;

  &:hover {
    color: #D7D9D9;
  }

}
