.navbar-lewagon {
  justify-content: space-between;
  background: $black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 2.5rem;
}

.navbar-text-color {
  color: $lighter-gray;
  margin-right: 1rem;
}

.navbar-nav li a {
  text-decoration: none !important;
  &:hover {
    color: $red;
  }
}
